.advantages--alignment {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--gap));
    margin-bottom: calc(-1 * var(--gap));
  }
}
.advantages__item {
  @media screen and(min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--gap));
    margin-bottom: var(--gap);
    margin-right: var(--gap);
  }

  @media screen and(min-width: 1200px) {
    flex-basis: calc(100% / 4 - var(--gap));
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: var(--gap);
}

.advantages__title {
  color: var(--color-titles);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;

  @media screen and(min-width: 768px) {
    text-align: left;
  }
}

.advantages__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.advantages__icon {
  background: var(--color-light-bg);
  border-radius: 4px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: var(--gap);
}
