.footer {
  background-color: var(--color-dark-bg);

  &--alignment {
    display: flex;
  }
}

.footer--contacts-block {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 70px;
}
.address {
  color: var(--color-basic);
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
  text-decoration: none;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
  display: block;
  margin-top: 9px;
  text-decoration: none;
  transition: color var(--effect-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--color-brand);
  }
}

.footer-title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--color-basic);
}

.footer--sm-block {
  padding-top: 72px;
  margin-right: 93px;
  color: var(--color-basic);
}

.footer-sm-block-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--color-basic);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: background-color var(--effect-duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--color-brand);
  }
}

.footer--subscribe-block {
  padding-top: 72px;
  color: var(--color-basic);
}
.subscribe-form {
  display: flex;

  &__email {
    width: 358px;
    height: 50px;
    background-color: inherit;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 15px;
    margin-right: 12px;
    color: var(--color-basic);
    transition: border var(--effect-duration) var(--timing-function);

    &:focus {
      border: 1px solid var(--color-brand);
    }

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__button {
    @extend %button;
    display: flex;
    align-items: center;
    padding-left: 28px;
    padding-right: 28px;
  }

  &__button-icon {
    fill: var(--color-basic);
    margin-left: 10px;
  }
}
